@import '_desktop'
@import '_tablet'
@import '_mobile'

.about-hakathon
    display: flex
    align-items: center
    justify-content: center
    background: green
    div
        width: 80%
        display: flex
        flex-direction: column
        align-items: center
        padding: 40px 0 30px 0
        h2
            margin-bottom: 20px
        p
            text-align: center
            font-family: "Droid"
            font-size: 22px
            display: block
            margin-bottom: 10px
            line-height: 25px
            
