  
.agenda
    display: flex
    flex-direction: column
    align-items: center
    padding: 30px 0
    background: linear-gradient(to right, #00cc66,  #00FF7F, #00ff7f)
    // background: #00FF7F
    article
        display: flex
        justify-content: center
        flex-wrap: wrap
        .this-day
            background: rgba(0, 102, 0, 0.9)
            width: 450px
            padding: 10px
            display: flex
            flex-direction: column
            align-items: center
            margin-right: 5%
            margin-left: 5%
            margin-top: 30px
            h4
                font-size: 1.75rem
                font-weight: bold
                display: block
                margin-bottom: 10px
                color: white
            .schedule
                display: flex
                justify-content: center
                ul
                    li
                        font-family: "Pacifico"
                        font-size: 1.375rem
                        color: white
                .time
                    width: 125px
                    margin-right: 20px
                    font-weight: bold
                    font-style: italic

@import '_desktop'
@import '_tablet'
@import '_mobile'  
   
                    