@import '_desktop'
@import '_tablet'
@import '_mobile'

.route-map
    padding: 30px
    display: flex
    flex-direction: column
    align-items: center
    background: #00cc44
    h3
        margin-top: 15px
    .map
        margin-top: 20px