@import '_desktop'
@import '_tablet'
@import '_mobile'

.faq
    padding: 30px 50px
    display: flex
    flex-direction: column
    align-items: center
    background: #009933
    h2
        margin-bottom: 20px
    .issues
        width: 80%
        li 
            margin: 5px
            .question   
                width: 
                padding: 15px
                background: #2E8B57
                cursor: pointer
                display: block 
            .question:hover
                background: #3CB371
            .answer
                background: #99ffe6
                padding: 15px 50px
                display: none
                p
                    font-size: 20px
                
            .ansver-visibility
                display: block